@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #292b43; */
    --background: #0f172a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

div.relative {
  padding-top: 100px; /* Valeur qui correspond à la hauteur de la navbar */
}

/* Style de la navbar comme une île flottante */
nav {
  position: absolute; /* Absolue pour ne pas affecter le flux du contenu */
  top: 20px; /* Un peu d'espace du haut de la page */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%); /* Ajuste la position pour un centrage parfait */
  background-color: #0f172a; /* Couleur de fond de la navbar */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Ajoute de l'espace entre les blocs */
  align-items: center; /* Centre les éléments verticalement */
  width: auto; /* Laisse la largeur s'adapter au contenu */
  max-width: 900px; /* Limite la largeur maximale de la navbar */
  height: 80px; /* Hauteur de la navbar */
  z-index: 10; /* Permet de garder la navbar au-dessus des autres éléments */
  border-radius: 20px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre pour l'effet flottant */
  transition: box-shadow 0.3s ease; /* Transition pour l'ombre douce */
}

/* Logo */
nav .logo {
  letter-spacing: 2px;
  flex-basis: 50%;
  flex-grow: 1;
  text-align: left;
  margin-left: 20px;
}

nav .logo h1 {
  color: #fff;
  font-size: 40px; /* Ajuste la taille du texte */
  font-weight: lighter;
}

/* Liste de liens */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 50%;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 40px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  font-size: 18px; /* Ajuste la taille du texte */
  transition: color 0.3s ease;
  margin-bottom: 5px;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #ff495d;
}

/* Effet d'ombre lors du survol de la navbar */
nav:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Ombre plus marquée au survol */
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: none; /* Pas de fond */
  border: none; /* Pas de bordure */
  padding: 10px;
  cursor: pointer;
  font-size: 28px;
  color: #ff495d; /* Couleur de l'icône */
  margin-left: 25px;
}

.scroll-to-top:hover {
  color: #ffffff; /* Couleur de l'icône au survol */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; /* Permet de placer le navbar en haut et le contenu en dessous */
  height: 30vh;
}

main {
  display: flex; /* Flexbox pour diviser le contenu en 2 */
  flex: 1;
  height: calc(
    45vh - 60px
  ); /* S'assure que le contenu occupe toute la hauteur restante après le navbar */
}

.desc {
  flex: 0 0 100%; /* 80% de la largeur pour la section de gauche */
  background: var(--background);
  display: block;
  justify-content: start;
  align-items: start;
}

.desc h1 {
  font-weight: lighter;
  font-family: var(--font-inter), sans-serif;
}

.right {
  flex: 0 0 40%; /* 20% de la largeur pour la section de droite */
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-deux {
  display: flex; /* Flexbox pour diviser le contenu en 2 */
  flex: 1;
  height: calc(
    100vh - 60px
  ); /* S'assure que le contenu occupe toute la hauteur restante après le navbar */
}

.menu-deux-left {
  flex: 0 0 80%; /* 80% de la largeur pour la section de gauche */
  background: var(--background);
  display: block;
  justify-content: start;
  align-items: start;
}

.menu-deux-left h1 {
  margin-left: 170px;
  font-size: 50px;
  margin-left: 320px;
  margin-top: 10px;
  font-weight: bold;
  font-family: var(--font-inter), sans-serif;
  text-decoration: underline;
  color: #ff495d;
}

.menu-deux-right {
  flex: 0 0 20%; /* 20% de la largeur pour la section de droite */
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  padding-block: 40px;
}

.swiper-button-next::after {
  content: none !important;
}
