@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #292b43; */
    --background: #0f172a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

nav {
  margin: 0;
  /* background-color: #292b43; */
  background-color: #0f172a;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Ajoute de l'espace entre les blocs */
  align-items: center; /* Centre les éléments verticalement */
  width: 100%;
  height: 100px; /* Hauteur de la navbar */
  z-index: 10;
}

nav .logo {
  letter-spacing: 2px;
  flex-basis: 50%; /* Prend 50% de l'espace */
  flex-grow: 1; /* Permet au logo de grandir selon l'espace disponible */
  text-align: left;
  margin-left: 200px;
}

nav .logo h1 {
  color: #fff;
  font-size: 45px;
  font-weight: lighter;
}

/* span {
  color: #ff495d;
} */

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 50%; /* Prend 50% de l'espace */
  justify-content: flex-end;
  margin-right: 200px;
  margin-top: 5px;
  gap: 40px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  font-size: 25px;
  transition: color 0.3s ease;
  margin-bottom: 5px;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #ff495d;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: none; /* Pas de fond */
  border: none; /* Pas de bordure */
  padding: 10px;
  cursor: pointer;
  font-size: 28px;
  color: #ff495d; /* Couleur de l'icône */
  margin-left: 25px;
}

.scroll-to-top:hover {
  color: #ffffff; /* Couleur de l'icône au survol */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; /* Permet de placer le navbar en haut et le contenu en dessous */
  height: 30vh;
}

main {
  display: flex; /* Flexbox pour diviser le contenu en 2 */
  flex: 1;
  height: calc(
    45vh - 60px
  ); /* S'assure que le contenu occupe toute la hauteur restante après le navbar */
}

.desc {
  flex: 0 0 100%; /* 80% de la largeur pour la section de gauche */
  background: var(--background);
  display: block;
  justify-content: start;
  align-items: start;
}

.desc h1 {
  font-weight: lighter;
  font-family: var(--font-inter), sans-serif;
}

.right {
  flex: 0 0 40%; /* 20% de la largeur pour la section de droite */
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-deux {
  display: flex; /* Flexbox pour diviser le contenu en 2 */
  flex: 1;
  height: calc(
    100vh - 60px
  ); /* S'assure que le contenu occupe toute la hauteur restante après le navbar */
}

.menu-deux-left {
  flex: 0 0 80%; /* 80% de la largeur pour la section de gauche */
  background: var(--background);
  display: block;
  justify-content: start;
  align-items: start;
}

.menu-deux-left h1 {
  margin-left: 170px;
  font-size: 50px;
  margin-left: 320px;
  margin-top: 10px;
  font-weight: bold;
  font-family: var(--font-inter), sans-serif;
  text-decoration: underline;
  color: #ff495d;
}

.menu-deux-right {
  flex: 0 0 20%; /* 20% de la largeur pour la section de droite */
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  padding-block: 40px;
}

.swiper-button-next::after {
  content: none !important;
}
